.slds-form-element_horizontal .slds-form-element__label, .slds-form_horizontal .slds-form-element .slds-form-element__label, .slds-form_stacked .slds-form-element_horizontal .slds-form-element__label
  {
    max-width: 100%;
    
  }
  .sf
  {
    
  }
.s1
{
  padding-left : 0%;
}
.slds-form-element__static 
{
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  display: inline-block;
  font-size: .875rem;
  font-weight: 400;
  /* color: #181818; */
  width: 100%;

}
.lightning-formatted-text.slds-form-element__static {
  font-family: 'cursive' important;
}