.container { position: relative; }
.container .slds-avatar { display: block; }
.container .ld-edit { position: absolute; bottom:0; right:0; }
.container {
    height: 100px;
    width: 100px;
    align-self: center;
}
.slds-avatar{
    height: 100px;
    width: 100px;
    align-self: center;
}
.profile-edit-fields{
    outline: 0;
    border-color: rgb(21, 137, 238); /* This is the blue color of the border */
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px #0070d2; /* This is the blue color of the shadow */
    width: 80%;
}
.profile-input-field{
    width: 80%
}

input
{
    border: 1px solid #00000080 !important;
}
label
{
    position: relative;
    top: 15px;
    left: 20px;
    background-color: white;
    z-index: 9999;
}
.slds-form_horizontal a
{
    float: right;
    position: relative;
    bottom: 43px;
    right: 2%;
}

div[c-userprofile_userprofile] .slds-form-element__control .slds-input{
    border: 1px solid #76716b;
    padding: 5px 12px 0px 12px;
    font-size: 16px;
}

div[c-userprofile_userprofile].slds-form-element__control .slds-input:focus{
    box-shadow: none!important;
}
div[c-userprofile_userprofile] button{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 25px;
}
.slds-form_horizontal .slds-form-element .slds-form-element_readonly{
    margin-bottom: -0.5rem;
}